<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>

    </header>

    <main>
        
        <form method="POST" action="/products/crearProducto" enctype="multipart/form-data">            
            <label for="nombreProducto"></label>
            <input name="name" type="text" placeholder="nombreProducto">
            <label for="descripcionProducto"></label>
            <input name="description" type="text" placeholder="descripcionProducto">
            <!-- atencion pendiente subir archivos multer-->
            <label for="image"></label>
            <input type="file" name="image" id="image">

            <label for="categoríaProducto">categoria</label>            
                <select name="category">
                    <option value="Gaming">Gaming</option> 
                    <option value="Streaming">Streaming</option> 
                    <option value="Streaming and Gaming">Streaming and Gaming</option>
                    <option value="Estandar">Estandar</option> 
                </select>
            <!-- <input type="checkbox" name="" id=""> -->
            
            <label for="precioProducto"></label>
            <input name="price" type="text" placeholder="precioProducto">
                <button type="submit">Actualizar</button>
                
      </form>
       
    </main>

    <footer>

    </footer>
    
</body>
</html>