<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle producto GPU Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include ("../partials/header")%> 
    <main class="main-detail-product">
        <!-- listo para modificar, exitos!! 😄  -->
        <article class="photo-description-detail-product"> <!--Inicio photo-description-detail-product-->
            <div class="roja">
                <div class="verde">
                    <img src="./img/tarjeta1img.png" alt="product">
                </div>
                <div class="naranja">
                    <img src="./img/tarjeta1img.png" alt="product">
                    <img src="./img/tarjeta1img.png" alt="product">
                    <img src="./img/tarjeta1img.png" alt="product">
                    <img src="./img/tarjeta1img.png" alt="product">
                    <img src="./img/tarjeta1img.png" alt="product">
                </div>
            </div>
            <article class="box-datail-product">
                <!--inicio de div del article box-detail-product-->
                    <p>Nombre del producto</p>
                    <p>Precio $</p>
                    <p class="review-detail-product">opiniones | reviews</p>
                    <p>ENVIO GRATIS</p>
                    <p>Marca:</p>
                    <div class="desing-detail-product">
                        <p>Cantidad:</p>
                        <button class="button-detail-product">-</button>
                        <input type="text" name="" id="">
                        <button class="button-detail-product">+</button>
                    </div>
                    <p>Envio a domicilio:</p>
                    <div class="stock-detail-product">
                        <p>Recogido en tienda:</p>
                        <p class="desing-stock-detail-product">Ver disponibilidad  >></p>
                    </div>
                    <div class="financing-detail-product">
                        <p>Financiacion:</p>
                        <div>
                            <p>+ info</p>
                            <p>+ info</p>
                        </div>
                    </div>
                    <p>Garantia:</p>
                    <div class="warranty-detail-product">
                        <div class="heart-detail-product"><i class="far fa-heart"></i></div>
                        <div class="shopping-detail-product"><i class="fas fa-shopping-basket"></i></div>
                        <p class="buy-detail-product">Comprar</p>
                    </div>
                 <!--fin de div del article box-detail-product-->
            </article>   
        </article> <!--Inicio photo-description-detail-product-->

        <div class="features-detail-product">
                <ul class="menu-detail-product">
                    <li>
                        <a href="#">Caracteristicas v</a>
                    </li>
                    <hr class="mobile-hr-detail-product">
                    <li>
                        <a href="#">Opiniones v</a>
                    </li>
                    <hr class="mobile-hr-detail-product">
                    <li>
                        <a href="#">Videos / Reviews v</a>
                    </li>
                    <hr class="mobile-hr-detail-product">
                    <li>
                        <a href="#">Preguntas v</a>
                    </li>
                    <hr class="mobile-hr-detail-product">
        </div>
        <hr class="desktop-hr-detail-product">

        <section class="recommended-products"> <!-- inicio recommended-products-->
            <h3>
            Otros usuarios tambien compraron:
            </h3>
            <div>   <!-- inicio de diseño visual de carrusel-->
                <button class="buttons"> < </button>
                <img src="./img/tarjeta1img.png" alt="">
                <button class="buttons">></button>
            </div> <!-- fin de diseño visual de carrusel-->
            <h4>
            Nombre del producto
            </h4>
            <p>
            Total precio $1500
            </p>
        </section> <!-- fin recommended-products-->
        <div class="buttons-container">
            <button class="buttons">Añadir</button>            
        </div>
    </main>
    <%- include ("../partials/footer")%>
</body>
</html>