<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <main>        
        <h1>editando producto: <%= productToEdit.name %> </h1>
        <form method="POST" action="/products/editar?_method=PUT">            
            <label for="nombreProducto"></label>
            <input name="name" type="text" placeholder="nombreProducto" value="<%= productToEdit.name %>" >
            <label for="descripcionProducto"></label>
            <input name="description" type="text" placeholder="descripcionProducto" value="<%= productToEdit.description %>" >
            
            <!-- atencion pendiente subir archivos multer -->
            <input type="file" name="imagen" id="">

            <label for="categoríaProducto">categoria</label>            
                <select name="category" >
                    <option value="Gaming">Gaming</option> 
                    <option value="Streaming">Streaming</option> 
                    <option value="Streaming and Gaming">Streaming and Gaming</option>
                    <option value="Estandar">Estandar</option> 
                </select>
            <!-- <input type="checkbox" name="" id=""> -->
            
            <label for="precioProducto"></label>
            <input name="price" type="text" placeholder="precioProducto" value="<%= productToEdit.price %>" >
                <button type="submit">Editar</button>
                <button>eliminar</button>
        </form>       
    </main>
    <footer>
    </footer>    
</body>
</html>