<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Carrito GPU Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="top-header">
            <picture class="logo"> <!--inicio logo-->
                <a href="/">
                    <img src="./img/logoicononegro.png" alt="Logo de Mercadoliebre">
                </a>
            </picture> <!--fin logo-->
            <form class="form"> <!--inicio busqueda-->
                <input type="text" class="input" placeholder="Busca productos...">
                <button type="submit" class="submit"><i class="fas fa-search"></i></button>
            </form>  <!--fin busqueda-->
            <div class="burger-menu">  <!--inicio burger-menu-->
                <i class="fas fa-bars"></i> 
                
            </div> <!-- fin burger-menu -->
            <div class= "menu-top-header"> <!--inicio menu-top-header-->
                <i class="fas fa-shopping-basket"></i>
                <i class="fas fa-user"></i>
            </div> <!--fin menu-top-header-->
        </div> <!--fin top-header-->
        
        <nav>
            <ul class="menu"><!--inicio menu -->
                <li>
                    <a href="#">Productos</a>
                </li>
                <li>
                    <a href="#">Servicios</a>
                </li>
                <li>
                    <a href="#">Conceptos</a>
                </li>
                <li>
                    <a href="#">Noticias</a>
                </li>
                <li>
                    <a href="#">Soporte</a>
                </li>
            </ul> <!--fin menu -->
        </nav> <!-- fin nav -->

    </header> <!-- fin header -->
    <main>
        <!-- listo para modificar, exitos!! 😄  -->
    </main>
    <footer>   <!-- inicio footer -->
        <div class="top-footer">
            <div class="container-top-footer"> <!-- inicio container-top-footer-->
                <h4>Productos</h4>
                <hr> <!-- linea separadora-->
                <ul>
                    <li>Todas las tarjetas gráficas</li>
                    <li>Laptop</li>
                    <li>Monitores</li>
                    <li>Gaming en la nube</li>
                </ul>
            </div>  <!-- fin container-top-footer-->
            <div class="container-top-footer"> <!-- inicio container-top-footer-->
                <h4>Comunidad y noticias</h4>
                <hr> <!-- linea separadora-->
                <ul>
                    <li>Ultimas noticias</li>
                    <li>Guias técnicas</li>
                    <li>Foros</li>
                </ul>
            </div> <!-- fin container-top-footer-->
            <div class="container-top-footer"> <!-- inicio container-top-footer-->
                <h4>Soporte</h4>
                <hr> <!-- linea separadora-->
                <ul>
                    <li>Drivers</li>
                    <li>Soporte de compra</li>
                    <li>Soporte técnico</li>
                </ul>
            </div> <!-- fin container-top-footer-->

        </div>
        <div class="social-networking"> <!-- inicio social-networking -->
            <h4>Follow</h4>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitch"></i>
        </div> <!-- fin social-networking -->
        <picture class="logo-footer"> <!--inicio logo-->
            <a href="/">
                <img src="./img/logoicononegro.png" alt="Logo de Mercadoliebre">
            </a>
        </picture> <!--fin logo-->
        
        <div class="footer-content"> <!-- inicio footer-content -->
            <ul>
                <li>Politica de privacidad |</li>
                <li>Gestionar mi privacidad legal |</li>
                <li>Accesibilidad |</li>
                <li>Seguridad del producto |</li>
                <li>Contáctenos</li>
            </ul>
        </div> <!-- fin footer-content -->

        <div class="copyright-content">                
            Copyright © 2021            
        </div>

    </footer> <!-- fin footer -->
    
</body>
</html>