<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPU Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include ("./partials/header")%> 
    
    <section class="banner">
        <img src="./img/banner.png" alt="banner de GPU Online">
    </section>
    <main> <!-- inicio main -->
        <div class="top-main"> <!-- inicio top-main -->
            <h2>TARJETAS GRAFICAS</h2>
        </div>    <!-- fin top-main -->   

        <div class="description-1">
            <h3>OBTÉN UN RENDIMIENTO MÁS RÁPIDO</h3>
            <h4>FPS MÁX. CALIDAD MÁX. CON TECNOLOGÍA DE IA.</h4>
            <img src="./img/geforce-rtx-1200x630.jpg" alt="">
        </div>        
    
        <section class="product-promotion"> <!-- inicio de product-promotion-->
            <div class="products-container"> <!-- inicio products-container -->
                <article> <!-- inicio article -->
                    <h3>
                        GEFORCE RTX 3090
                    </h3>                
                    <img src="./img/tarjeta1img.png" alt="">
                    <div class="product-card">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum adipisci nobis odio quibusdam officiis delectus maxime dolores ratione qui, quod eum consequuntur architecto, aperiam soluta dolore ad est ea?
                        </p>
                        <a class="buttons" href="/register">Más informacion</a>
                    </div>
                </article> <!-- fin article -->
                <article> <!-- inicio article -->
                    <h3>
                        GeForce RTX 3080 Ti
                    </h3>                
                    <img src="./img/tarjeta1img.png" alt="">
                    <div class="product-card">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum adipisci nobis odio quibusdam officiis delectus maxime dolores ratione qui, quod eum consequuntur architecto, aperiam soluta dolore ad est ea?
                        </p>
                        <a class="buttons" href="/register">Más informacion</a>
                    </div>
                </article> <!-- fin article -->
                <article> <!-- inicio article -->
                    <h3>
                        Radeon RX 6900 XT
                    </h3>                
                    <img src="./img/tarjeta1img.png" alt="">
                    <div class="product-card">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum adipisci nobis odio quibusdam officiis delectus maxime dolores ratione qui, quod eum consequuntur architecto, aperiam soluta dolore ad est ea?
                        </p>
                        <a class="buttons" href="/register">Más informacion</a>
                    </div>
                </article> <!-- fin article -->
                
            </div> <!-- fin products-container -->
        </section> <!-- fin de product-promotion-->
        
        <section class="main-paragraph"> <!-- inicion section para parrafo-->
            <hr> <!-- linea separadora-->
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias maxime, quos ducimus veniam voluptatum aperiam quae molestias minima ipsa consequatur quisquam praesentium excepturi corrupti reprehenderit culpa tempora animi eaque? Voluptatibus!
            </p>
            <hr> <!-- linea separadora-->
        </section> <!-- fin section para parrafo-->
        
    </main> <!-- fin main -->
    <%- include ("./partials/footer")%>
    
</body>
</html>