<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPU Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="top-header">
            <picture class="logo"> <!--inicio logo-->
                <a href="/">
                    <img src="./img/logoicononegro.png" alt="Logo de Mercadoliebre">
                </a>
            </picture> <!--fin logo-->
            <form class="form"> <!--inicio busqueda-->
                <input type="text" class="input" placeholder="Busca productos...">
                <button type="submit" class="submit"><i class="fas fa-search"></i></button>
            </form>  <!--fin busqueda-->
            <div class="burger-menu">  <!--inicio burger-menu-->
                <i class="fas fa-bars"></i> 
                
            </div> <!-- fin burger-menu -->
            <div class= "menu-top-header"> <!--inicio menu-top-header-->
                <i class="fas fa-shopping-basket"></i>
                <i class="fas fa-user"></i>
            </div> <!--fin menu-top-header-->
        </div> <!--fin top-header-->
        
        <nav>
            <ul class="menu"><!--inicio menu -->
                <li>
                    <a href="#">Productos</a>
                </li>
                <li>
                    <a href="#">Servicios</a>
                </li>
                <li>
                    <a href="#">Conceptos</a>
                </li>
                <li>
                    <a href="#">Noticias</a>
                </li>
                <li>
                    <a href="#">Soporte</a>
                </li>
            </ul> <!--fin menu -->
        </nav> <!-- fin nav -->

    </header> <!-- fin header -->
    
    <section class="banner">
        <img src="./img/banner.png" alt="banner de GPU Online">
    </section>
    <main> <!-- inicio main -->
        <div class="top-main"> <!-- inicio top-main -->
            <h2>TARJETAS GRAFICAS</h2>
        </div>    <!-- fin top-main -->   

        <div class="description-1">
            <h3>OBTÉN UN RENDIMIENTO MÁS RÁPIDO</h3>
            <h4>FPS MÁX. CALIDAD MÁX. CON TECNOLOGÍA DE IA.</h4>
            <img src="./img/geforce-rtx-1200x630.jpg" alt="">
        </div>        
    
        <section class="product-promotion"> <!-- inicio de product-promotion-->
            <div class="products-container"> <!-- inicio products-container -->
                <article> <!-- inicio article -->
                    <h3>
                        GEFORCE RTX 3090
                    </h3>                
                    <img src="./img/tarjeta1img.png" alt="">
                    <div class="product-card">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum adipisci nobis odio quibusdam officiis delectus maxime dolores ratione qui, quod eum consequuntur architecto, aperiam soluta dolore ad est ea?
                        </p>
                        <a class="buttons" href="/register">Más informacion</a>
                    </div>
                </article> <!-- fin article -->
                <article> <!-- inicio article -->
                    <h3>
                        GeForce RTX 3080 Ti
                    </h3>                
                    <img src="./img/tarjeta1img.png" alt="">
                    <div class="product-card">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum adipisci nobis odio quibusdam officiis delectus maxime dolores ratione qui, quod eum consequuntur architecto, aperiam soluta dolore ad est ea?
                        </p>
                        <a class="buttons" href="/register">Más informacion</a>
                    </div>
                </article> <!-- fin article -->
                <article> <!-- inicio article -->
                    <h3>
                        Radeon RX 6900 XT
                    </h3>                
                    <img src="./img/tarjeta1img.png" alt="">
                    <div class="product-card">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum adipisci nobis odio quibusdam officiis delectus maxime dolores ratione qui, quod eum consequuntur architecto, aperiam soluta dolore ad est ea?
                        </p>
                        <a class="buttons" href="/register">Más informacion</a>
                    </div>
                </article> <!-- fin article -->
                
            </div> <!-- fin products-container -->
        </section> <!-- fin de product-promotion-->
        
        <section class="main-paragraph"> <!-- inicion section para parrafo-->
            <hr> <!-- linea separadora-->
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias maxime, quos ducimus veniam voluptatum aperiam quae molestias minima ipsa consequatur quisquam praesentium excepturi corrupti reprehenderit culpa tempora animi eaque? Voluptatibus!
            </p>
            <hr> <!-- linea separadora-->
        </section> <!-- fin section para parrafo-->
        
    </main> <!-- fin main -->
    <footer>   <!-- inicio footer -->
        <div class="top-footer">
            <div class="container-top-footer"> <!-- inicio container-top-footer-->
                <h4>Productos</h4>
                <hr> <!-- linea separadora-->
                <ul>
                    <li>Todas las tarjetas gráficas</li>
                    <li>Laptop</li>
                    <li>Monitores</li>
                    <li>Gaming en la nube</li>
                </ul>
            </div>  <!-- fin container-top-footer-->
            <div class="container-top-footer"> <!-- inicio container-top-footer-->
                <h4>Comunidad y noticias</h4>
                <hr> <!-- linea separadora-->
                <ul>
                    <li>Ultimas noticias</li>
                    <li>Guias técnicas</li>
                    <li>Foros</li>
                </ul>
            </div> <!-- fin container-top-footer-->
            <div class="container-top-footer"> <!-- inicio container-top-footer-->
                <h4>Soporte</h4>
                <hr> <!-- linea separadora-->
                <ul>
                    <li>Drivers</li>
                    <li>Soporte de compra</li>
                    <li>Soporte técnico</li>
                </ul>
            </div> <!-- fin container-top-footer-->

        </div>
        <div class="social-networking"> <!-- inicio social-networking -->
            <h4>Follow</h4>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitch"></i>
        </div> <!-- fin social-networking -->
        <picture class="logo-footer"> <!--inicio logo-->
            <a href="/">
                <img src="./img/logoicononegro.png" alt="Logo de Mercadoliebre">
            </a>
        </picture> <!--fin logo-->
        
        <div class="footer-content"> <!-- inicio footer-content -->
            <ul>
                <li>Politica de privacidad |</li>
                <li>Gestionar mi privacidad legal |</li>
                <li>Accesibilidad |</li>
                <li>Seguridad del producto |</li>
                <li>Contáctenos</li>
            </ul>
        </div> <!-- fin footer-content -->

        <div class="copyright-content">                
            Copyright © 2021            
        </div>

    </footer> <!-- fin footer -->
    
</body>
</html>