<footer>   <!-- inicio footer -->
    <div class="top-footer">
        <div class="container-top-footer"> <!-- inicio container-top-footer-->
            <h4>Productos</h4>
            <hr> <!-- linea separadora-->
            <ul>
                <li>Todas las tarjetas gráficas</li>
                <li>Laptop</li>
                <li>Monitores</li>
                <li>Gaming en la nube</li>
            </ul>
        </div>  <!-- fin container-top-footer-->
        <div class="container-top-footer"> <!-- inicio container-top-footer-->
            <h4>Comunidad y noticias</h4>
            <hr> <!-- linea separadora-->
            <ul>
                <li>Ultimas noticias</li>
                <li>Guias técnicas</li>
                <li>Foros</li>
            </ul>
        </div> <!-- fin container-top-footer-->
        <div class="container-top-footer"> <!-- inicio container-top-footer-->
            <h4>Soporte</h4>
            <hr> <!-- linea separadora-->
            <ul>
                <li>Drivers</li>
                <li>Soporte de compra</li>
                <li>Soporte técnico</li>
            </ul>
        </div> <!-- fin container-top-footer-->

    </div>
    <div class="social-networking"> <!-- inicio social-networking -->
        <h4>Follow</h4>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-twitch"></i>
    </div> <!-- fin social-networking -->
    <picture class="logo-footer"> <!--inicio logo-->
        <a href="/">
            <img src="./img/logoicononegro.png" alt="Logo de Mercadoliebre">
        </a>
    </picture> <!--fin logo-->
    
    <div class="footer-content"> <!-- inicio footer-content -->
        <ul>
            <li>Politica de privacidad |</li>
            <li>Gestionar mi privacidad legal |</li>
            <li>Accesibilidad |</li>
            <li>Seguridad del producto |</li>
            <li>Contáctenos</li>
        </ul>
    </div> <!-- fin footer-content -->

    <div class="copyright-content">                
        Copyright © 2021            
    </div>

</footer> <!-- fin footer -->