<header>
    <div class="top-header">
        <picture class="logo"> <!--inicio logo-->
            <a href="/">
                <img src="./img/logoicononegro.png" alt="Logo de Mercadoliebre">
            </a>
        </picture> <!--fin logo-->
        <form class="form"> <!--inicio busqueda-->
            <input type="text" class="input" placeholder="Busca productos...">
            <button type="submit" class="submit"><i class="fas fa-search"></i></button>
        </form>  <!--fin busqueda-->
        <div class="burger-menu">  <!--inicio burger-menu-->
            <i class="fas fa-bars"></i> 
            
        </div> <!-- fin burger-menu -->
        <div class= "menu-top-header"> <!--inicio menu-top-header-->
            <a href="/carrito"><i class="fas fa-shopping-basket"></i></a>
            <a href="/"><i class="fas fa-user"></i></a>
        </div> <!--fin menu-top-header-->
    </div> <!--fin top-header-->
    
    <nav>
        <ul class="menu"><!--inicio menu -->
            <li>
                <a href="#">Productos</a>
            </li>
            <li>
                <a href="#">Servicios</a>
            </li>
            <li>
                <a href="#">Conceptos</a>
            </li>
            <li>
                <a href="#">Noticias</a>
            </li>
            <li>
                <a href="#">Soporte</a>
            </li>
        </ul> <!--fin menu -->
    </nav> <!-- fin nav -->

</header> <!-- fin header -->