<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro GPU Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">    
</head>
<body>
    <!-- hay que dejar solo el logo ATENCION!!! OJOOOO!!!!! CUIDADOOOO!!! ALERTA!!! -->
    <header>
        <div class="top-header">
            <picture class="logo"> <!--inicio logo-->
                <a href="/">
                    <img src="./img/logoicononegro.png" alt="Logo de Mercadoliebre">
                </a>
            </picture> <!--fin logo-->
            <form class="form"> <!--inicio busqueda-->
                <input type="text" class="input" placeholder="Busca productos...">
                <button type="submit" class="submit"><i class="fas fa-search"></i></button>
            </form>  <!--fin busqueda-->
            <div class="burger-menu">  <!--inicio burger-menu-->
                <i class="fas fa-bars"></i> 
                
            </div> <!-- fin burger-menu -->
            <div class= "menu-top-header"> <!--inicio menu-top-header-->
                <i class="fas fa-shopping-basket"></i>
                <i class="fas fa-user"></i>
            </div> <!--fin menu-top-header-->
        </div> <!--fin top-header-->
        
        <nav>
            <ul class="menu"><!--inicio menu -->
                <li>
                    <a href="#">Productos</a>
                </li>
                <li>
                    <a href="#">Servicios</a>
                </li>
                <li>
                    <a href="#">Conceptos</a>
                </li>
                <li>
                    <a href="#">Noticias</a>
                </li>
                <li>
                    <a href="#">Soporte</a>
                </li>
            </ul> <!--fin menu -->
        </nav> <!-- fin nav -->

    </header> <!-- fin header -->
    <!-- el header del registro solo tiene logo, debes ocultar todo menos el logo -->
    <main>
        <!-- listo para modificar, exitos!! 游땏  -->
        <main>  <!-- inicio de main-->
            <div class="register-google">
                <h3>Crear cuenta</h3>
                <a class="button-google" href=""> <i class="fab fa-google"></i> Entrar con Google</a>
                <h4>----- O bien -----</h4>
            </div>
            <div class="registro"> <!-- inicio class register-->
                <form action="/" method="post">
                    <h3>Reg칤strate!</h3>
                    <label for="nombre"></label>
                    <input class="box-shadow" type="text"  name="nombre" placeholder="Nombre" required>
                    <label for="apellido"></label>
                    <input class="box-shadow" type="text"  name="nombre" placeholder="Apellido" required>
                    <label for="nombreusuario"></label>
                    <input class="box-shadow" type="text"  name="nombreusuario" placeholder="Nombre de usuario" required>
                    <label for="email"></label>        
                    <input class="box-shadow" type="email"  name="email" placeholder="Email" required >
                    <label for="password"></label>
                    <input class="box-shadow" type="password"  name="password" placeholder="Eleg칤 tu contrase침a"required>
                    <label for="password"></label>
                    <input class="box-shadow" type="password"  name="password" placeholder="Repite tu contrase침a"required>
                    <!-- se me pas칩 <label for="password"></label>
                    <input class="box-shadow" type="password" id="password" name="password" placeholder="contrase침a" required >
                    -->
                    <h4>Fecha de nacimiento</h4>
                    <input class="box-shadow" type="date" name="mes" id="mes" required>
                    <input class="box-shadow" type="text" name="" id="date" placeholder="Domicilio" required>
                    <!-- 
                        <h4>perfil de usuario</h4>                
                        <label for="perfil_u"> 
                            <div class="userType">                   
                                <input class="espacio" type="radio" name="perfil_u" id="perfil_u"required>
                                <label for="">Comprador</label>
                                <input class="espacio" type="radio" name="perfil_u" id="perfil_u"required>
                                <label for="">Vendedor</label>  
                            </div>                  
                        </label>
                    -->
                    <h4>Intereses</h4>
                    
                        <label for="hobby"> <!-- inicio hobby-->

                            <div class="hobby-users"> <!-- inicio hobby-users-->
                                <label class="checkbox"> PC Multimedia
                                    <input class="espacio checkbox" type="checkbox" name="hobby" value="electro">
                                    <span class="check"></span>
                                </label>
                                <label class="labelTitle checkbox">
                                    <input class="espacio checkbox" type="checkbox" name="hobby" value="moda">PC Gaming
                                    <span class="check"></span>
                                </label>
                                <label class="labelTitle checkbox">
                                    <input class="espacio checkbox" type="checkbox" name="hobby" value="hogar">PC Edici칩n
                                    <span class="check"></span>
                                </label>
                                <label class="labelTitle checkbox">
                                    <input class="espacio checkbox" type="checkbox" name="hobby" value="jugueteria">PC Streaming
                                    <span class="check"></span>
                                </label>
                            </div>   <!-- fin hobby-users-->
                        </label> <!-- fin hobby-->
                        
                    <!-- inicio enviar archivo foto-->
                    <h4>Elige foto de perfil</h4>
                    <input class="formGroup" type="file" name="" id="">
                    <!-- fin enviar archivo foto-->    
                    
                    <div class="group-buttons group-buttons-register">
                        <!-- <button class="buttons buttons-register" type="reset" >borrar</button> -->
                        <button class="buttons buttons-register" type="submit">Crear cuenta</button>
                    </div>   <!-- inicio class group-buttons-->
                    <!-- <input type="button" value="ENVIAR"> -->
            
                    
                </form>
            </div> <!-- fin class registro-->
        </main>
    </main>
    <footer>
        <!-- sin footer, no contiene footer -->
    </footer>
    
</body>
</html>